@font-face {
    font-family: "NanumSquareRoundB";
    src: url("./font/NanumSquareRoundOTFB.otf") format("opentype");
    font-style: bold;
}

* {
    font-family: "NanumSquareRoundB";
}

body{
    margin: 0;
    user-select:none;
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: translate(0px, 200px);
    }
    to {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity: 0;
        transform: translate(0px, 200px);
    }
    to {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity: 0;
        transform: translate(0px, 200px);
    }
    to {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity: 0;
        transform: translate(0px, 200px);
    }
    to {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

@keyframes fadein-footer {
    from {
        opacity: 0;
        transform: translate(0px, 250px);
    }
    to {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}
@-moz-keyframes fadein-footer { /* Firefox */
    from {
        opacity: 0;
        transform: translate(0px, 250px);
    }
    to {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}
@-webkit-keyframes fadein-footer { /* Safari and Chrome */
    from {
        opacity: 0;
        transform: translate(0px, 250px);
    }
    to {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}
@-o-keyframes fadein-footer { /* Opera */
    from {
        opacity: 0;
        transform: translate(0px, 250px);
    }
    to {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

@keyframes appear_from_bottom{
    0%{
      transform: translateY(150px);
      opacity: 0;
    }
  
    100%{
      opacity: 1;
    }
  }

  @keyframes motion1{
    0% {
        opacity: 0;
        transform: translate(0px, 250px);
    }

    50%{
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
  }

@media all  {


    
.nav{
    background: rgb(250,250,252);
    background: linear-gradient(180deg, rgba(250,250,252,1) 60%, rgba(242,242,242,1) 100%);
    max-width: 1920px;
    width: 80%;
    height: 70px;
    margin: 0 auto;
    margin-top: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 50px;
}

.nav_title{
    text-align : center;
    padding : 100px 0;
    padding-left: 30px;
    line-height : 70px;
}

.nav_menu1{
    text-align : center;
    float: right;
    line-height : 70px;
    padding-right: 30px;
}

.main_title{
    display: flex;
    margin-top: 300px;
    font-size: 80px;
    text-align: center;
    justify-content: center;
    align-items: center;
    animation-name: fadein;
    animation-duration : 1500ms;
    -moz-animation-name: fadein 1500ms; /* Firefox */
    -webkit-animation-name: fadein 1500ms; /* Safari and Chrome */
    -o-animation-name: fadein 1500ms; /* Opera */
}

.main_title_edit{
    display: flex;
    margin-top: 300px;
    font-size: 80px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.main_title_footer{
    display: flex;
    margin-top: 15px;
    font-size: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    animation-name: fadein-footer;
    animation-duration : 1500ms;
    -moz-animation-name: fadein-footer 1500ms; /* Firefox */
    -webkit-animation-name: fadein-footer 1500ms; /* Safari and Chrome */
    -o-animation-name: fadein-footer 1500ms; /* Opera */
    padding-bottom: 2%;
}

.video_recommend{
    text-align: center;
}

.new_and_most_video{
    padding: 50px;
    display: inline-block;
    animation: motion1 ease 1.5s;
    padding-top: 50px;
    font-size: 24px;
}


.new_and_most_video iframe{
    margin-top: 10px;
}

.more_video{
    width: 200px;
    overflow: hidden;
    transform: scale(1.0);
    transition: all ease-in 200ms ;
    animation: motion1 ease 1.5s;
    display: flex;
    margin: 0 auto;
}

.more_video button{
    width: 200px;
    height: 50px;
    font-size: 16px;
    line-height : 50px;
    text-align: center;
    border: 2px solid;
    border-radius: 50px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0);
    overflow: hidden;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items:center;
    
}


.more_video:hover {
    transform: scale(1.2);
    transition: all ease-in 200ms ;
}

footer{
    margin: 30px;
    text-align: center;
}

}