/*Web Font*/
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;

    font-family: 'SUIT-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

    font-family: 'SUITE-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@media (min-height: 375px) and (max-height: 768px) and (min-width: 375px) and (max-width: 768px), screen and (orientation: portrait){
    .App{
        white-space: pre-line
    }

    body {
        background-color: white;
        margin: 0px;
        font-family: 'SUITE';
        max-width: 100%;
        max-height: 100%;
    }

    nav{
        background-color: rgb(250,250,252);
        display: block;
    }
    
    
    .navigaion a{
        padding: 5px;
        font-weight: 400;
        font-weight: 500;
        text-decoration-line : none;
        color: inherit;
    }
    
    .navigaion{
        line-height: 40px;
        text-align: center;
    }
    
    
    .main{
        margin-top: 8%;
        font-size: 70px;
        font-weight: 800;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main a{
        font-size: 30px;
    }
    
    .main-sub-text{
        display: flex;
        font-size: 15px;
        font-weight: 400;
        justify-content: center;
        align-items: center;
    }

    .main-sub-text-for-ppp{
        display: flex;
        font-size: 7px;
        font-weight: 400;
        justify-content: center;
        align-items: center;
    }
    
    .main-link{
        display: none;
    }

    .main-link-a{
        display: flex;
    }

    .ppp{
        text-align: left;
        font-size: 10px;
        width: 80%;
        margin: 0 auto;
    }
    
    .main img{
        display: none;
    }
    
    footer{
        font-family: SUITE;
        font-weight: 100;
        text-align: center;
        margin: 50px;
    }
    
    .foot{
        margin-top: 8%;
    }
    
    .inquiry-input{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 1%;
    }
    
    .inquiry-input input {
        font-family: 'SUITE';
        width: 50%;
        height: 40px;
        font-size: 17px;
        border: 0;
        border-radius: 15px;
        outline: none;
        padding-left: 10px;
        background-color: rgb(233, 233, 233);
    }
    
    .inquiry-input-des{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 1%;
    }
    
    .inquiry-input-des textarea {
        font-family: 'SUITE';
        width: 50%;
        height: 100px;
        font-size: 17px;
        border: 0;
        border-radius: 15px;
        outline: none;
        padding-left: 10px;
        background-color: rgb(233, 233, 233);
        resize: none;
    }
    
    .inquiry-input-check{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 1%;
    }
    
    .inquiry-input-check input {
        font-family: 'SUITE';
        font-size: 17px;
        border: 0;
        border-radius: 15px;
        outline: none;
        padding-left: 10px;
        background-color: rgb(233, 233, 233);
    }
    
    .inquiry-input-sumbit{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 1%;
    }
    
    .inquiry-input-sumbit input {
        font-family: 'SUITE';
        width: 50%;
        height: 40px;
        font-size: 17px;
        border: 0;
        border-radius: 15px;
        outline: none;
        padding-left: 10px;
        background-color: rgb(233, 233, 233);
    }
    
    .description{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        text-align: left;
    }

    .channel-list{
        display: flex;
        justify-content: center;
    }
    
    .mariel-des{
        text-align: center;
        width: 100%;
        padding-top: 15%;
        font-size: 25px;
    }

    .mariel img{
        width: 130px;
    }

    .work-list-warp-vertical{
        width: 80%;
        overflow: scroll;
        overflow: auto;
        white-space: nowrap;
        margin-left: auto;
        margin-right: auto;
    }
    
    .work-list-warp-vertical iframe {
        padding: 1%;
    }
    
    .work-list-name{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-bottom: 1%;
        font-size: 15px;
    }

    .inquiry-input-sclect-option{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 1%;
    }
    
    .inquiry-input-sclect-option select {
        font-family: 'SUITE';
        width: 50%;
        height: 40px;
        font-size: 17px;
        border: 0;
        border-radius: 15px;
        outline: none;
        padding-left: 10px;
        background-color: rgb(233, 233, 233);
    }

    .work-selector{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-bottom: 2%;
        font-size: 20px;
    }
    
    .work-selector a{
        margin-left: 5%;
        margin-right: 5%;
    }
    
    .music-player-box{
        background-color: rgb(241, 243, 244);
        width: 80%;
        height: 60px;
        margin: 0 auto;
        display: flex;
        border-radius: 15px;
        text-align: center;
    }
    
    .song-image {
        display: none;
    }
    
    .song-title{
        width: 120px;
        margin: auto;
        margin-left: 5%;
        margin-right: 10%;
        font-size: 18px;
    }
    
    .singer{
        display: none;
    }
    
    .audio-player{
        margin: auto;
        margin-left: 0%;
        margin-right: 3%;
        width: 50%;
    }

    .page-selector{
        text-align: center;
        font-size: 20px;
    }
    
    .page-selector a{
        margin: 7px;
        text-decoration-line: none; 
    }
    

    }



@media all and (min-width: 1024px)    {

    .App{
        white-space: pre-line
    }



body {
    background-color: white;
    margin: 0px;
    font-family: 'SUITE';
    max-width: 100%;
    max-height: 100%;
    
}


nav{
    background-color: rgb(250,250,252);
    display: block;
}


.navigaion a{
    padding: 5px;
    font-weight: 400;
    font-weight: 500;
    text-decoration-line : none;
    color: inherit;
}

.navigaion{
    line-height: 250%;
    text-align: center;
}


.main{
    margin-top: 8%;
    font-size: 70px;
    font-weight: 800;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-sub-text{
    display: flex;
    font-size: 30px;
    font-weight: 400;
    justify-content: center;
    align-items: center;
}

.main-sub-text-for-ppp{
    display: flex;
    font-size: 30px;
    font-weight: 400;
    justify-content: center;
    align-items: center;
}

.main-link{
    display: none;
}

.main-link-a{
    display: flex;
}

.ppp{
    text-align: left;
    font-size: 18px;
    width: 800px;
    margin: 0 auto;
}

.main img{
    width: 60%;
    filter: drop-shadow(10px 6px 6px #c3c3c3);
}

footer{
    font-family: SUIT;
    font-weight: 100;
    text-align: center;
    margin: 50px;
}

.foot{
    margin-top: 8%;
}

.inquiry-input{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1%;
}

.inquiry-input input {
    font-family: 'SUITE';
    width: 20%;
    height: 40px;
    font-size: 17px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
}

.inquiry-input-des{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1%;
}

.inquiry-input-des textarea {
    font-family: 'SUITE';
    width: 20%;
    height: 100px;
    font-size: 17px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
    resize: none;
}

.inquiry-input-check{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1%;
}

.inquiry-input-check input {
    font-family: 'SUITE';
    font-size: 17px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
}

.inquiry-input-sumbit{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1%;
}

.inquiry-input-sumbit input {
    font-family: 'SUITE';
    width: 20%;
    height: 40px;
    font-size: 17px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
}

.inquiry-input-sclect-option{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1%;
}

.inquiry-input-sclect-option select {
    font-family: 'SUITE';
    width: 20%;
    height: 40px;
    font-size: 17px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
}



.description{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    text-align: left;
}

.channel-list{
    display: flex;
    justify-content: center;
}

.mariel-des{
    text-align: center;
    width: 100%;
    padding-top: 15%;
    font-size: 25px;
}

.timer-a {
    text-align: center;
    color: rgb(233, 233, 233);
}

.work-list-warp-vertical{
    width: 80%;
    overflow: scroll;
    overflow: auto;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
}

.work-list-warp-vertical iframe {
    padding: 1%;
}

.work-list-name{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 2%;
    font-size: 30px;
}

.work-selector{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 2%;
    font-size: 30px;
}

.work-selector a{
    margin-left: 5%;
    margin-right: 5%;
}

.music-player-box{
    background-color: rgb(241, 243, 244);
    width: 80%;
    height: 120px;
    margin: 0 auto;
    display: flex;
    border-radius: 15px;
    text-align: center;
}

.song-image {
    width: 90px;
    height: 90px;
    margin: auto;
    margin-left: 2%;
    margin-right: 0%;
}

.song-title{
    width: 150px;
    margin: auto;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 22px;
}

.singer{
    width: 150px;
    margin: auto;   
    margin-left: 30px;
    margin-right: 5%;
    font-size: 22px;
}

.audio-player{
    margin: auto;   
    margin-left: 10%;
    margin-right: 3%;
    width: 50%;
}

.page-selector{
    text-align: center;
    font-size: 20px;
}

.page-selector a{
    margin: 7px;
    text-decoration-line: none; 
}

}